{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Products" %}{% endblock title %}
{% block content %}
        <!-- main-area -->
        <main class="fix">

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area breadcrumb-bg" data-background="{% static 'img/bg/breadcrumb_bg.jpg' %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="breadcrumb-content">
                                <h2 class="title text-warning">{% trans "Products" %}</h2>
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a class='text-white' href="{% url 'home' %}">{% trans "Home" %}</a></li>
                                        <li class="breadcrumb-item active text-warning" aria-current="page">{% trans "Products" %}</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="breadcrumb-shape-wrap">
                    <img src="{% static 'img/images/breadcrumb_shape01.png' %}" alt="">
                    <img src="{% static 'img/images/breadcrumb_shape02.png' %}" alt="">
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- blog-area -->
            <section class="blog-area pt-120 pb-120">
                <div class="container">
                    <div class="inner-blog-wrap">
                        <div class="row justify-content-center">
                            <div class="col-71">
                                <div class="blog-post-wrap">
                                    <div class="row">
                                        {% for product in products %}
                                            <div class="col-md-6">
                                                <div class="blog-post-item-two">
                                                    <div class="blog-post-thumb-two">
                                                        <a href="{% url 'product_detail' product.id %}"><img style='height:275px;' src="{{product.image.url}}" alt=""></a>
                                                    </div>
                                                    <div style='background-color: #ffdf7d;' class="blog-post-content-two">
                                                        {% for cat in product.category.all %}
                                                        <a href="{% url 'product_category' cat.id %}" class="badge bg-primary p-2 mx-1 mb-3 text-white">{{cat.title}}</a>
                                                        {% endfor %}
                                                        <h2 class="title"><a href="{% url 'product_detail' product.id %}">{{product.title}}</a></h2>
                                                        <p>{{product.description|safe|truncatewords:10}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="pagination-wrap mt-30">
                                        {% if page_obj.has_other_pages %}
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination list-wrap">
                                                {% if page_obj.has_previous %}
                                                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}"><i class="fas fa-angle-double-right"></i></a></li>
                                                {% endif %}
                                                {% for i in page_obj.paginator.page_range %}
                                                {% if page_obj.number == i %}
                                                <li class="page-item active"><a class="page-link" href="?page={{i}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{i}}</a></li>
                                                {% else %}
                                                <li class="page-item"><a class="page-link" href="?page={{i}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}">{{i}}</a></li>
                                                {% endif %}
                                                {% endfor %}
                                                {% if page_obj.has_next  %}
                                                <li class="page-item next-page"><a class="page-link" href="?page={{ page_obj.next_page_number}}{% if request.GET.search %}&search={{request.GET.search}}{% endif %}"><i class="fas fa-angle-double-left"></i></a></li>
                                                {% endif %}
                                            </ul>
                                        </nav>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-29">
                                <aside class="blog-sidebar">
                                    <div class="sidebar-search">
                                        <form action="{% url 'search_product' %}">
                                            <input name='search' type="text" placeholder="{% trans "search product ..." %}">
                                            <button type="submit"><i class="flaticon-search"></i></button>
                                        </form>
                                    </div>
                                    <div class="blog-widget">
                                        <h4 class="bw-title">{% trans "Categories" %}</h4>
                                        <div class="bs-cat-list">
                                            <ul class="list-wrap">
                                                {% for category in categories %}
                                                    <li><a href="{% url 'product_category' category.id %}">{{category.title}}<span>({{category.product.count}})</span></a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </aside>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-area-end -->


        </main>
        <!-- main-area-end -->
{% endblock content %}